.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #222222;
  background-image:url("https://media1.giphy.com/media/Y4vip84hg9BhdNidTR/giphy.gif?cid=ecf05e47k1f8fdwzeppdlcfui50h25mghknfrmipcundb3xi&rid=giphy.gif&ct=g");
  background-size: 1400px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

