.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background:url("https://media1.giphy.com/media/Y4vip84hg9BhdNidTR/giphy.gif?cid=ecf05e47k1f8fdwzeppdlcfui50h25mghknfrmipcundb3xi&rid=giphy.gif&ct=g");
  background-size: 1400px;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: black;
  margin-bottom: 20px;
}

.App-link {
  color: #2D2E30;
  top: 10vh;
  padding: 10px 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}